# Гипотезы
Как разные цели кредита влияют на его возврат в срок?

Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

Есть ли зависимость между семейным положением и возвратом кредита в срок?

Есть ли зависимость между наличием детей и возвратом кредита в срок?

# Импортируем библиотеки и получаем данные

In [ ]:
import pandas as pd
import numpy as np
#import pprint
from pymystem3 import Mystem
m = Mystem()
from collections import Counter

In [ ]:
df = pd.read_csv('/datasets/data.csv')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
children            21525 non-null int64
days_employed       19351 non-null float64
dob_days            21525 non-null int64
education           21525 non-null object
education_id        21525 non-null int64
family_status       21525 non-null object
family_status_id    21525 non-null int64
gender              21525 non-null object
income_type         21525 non-null object
debt                21525 non-null int64
total_income        19351 non-null float64
purpose             21525 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

# Работаем с Данными

In [ ]:
df.head(10)

,children,days_employed,dob_days,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи

In [ ]:
df.describe()

,children,days_employed,dob_days,education_id,family_status_id,debt,total_income
count,21525.000000,19351.000000,21525.000000,21525.000000,21525.000000,21525.000000,1.935100e+04
mean,0.538908,63046.497661,43.293380,0.817236,0.972544,0.080883,1.674223e+05
std,1.381587,140827.311974,12.574584,0.548138,1.420324,0.272661,1.029716e+05
min,-1.000000,-18388.949901,0.000000,0.000000,0.000000,0.000000,2.066726e+04
25%,0.000000,-2747.423625,33.000000,1.000000,0.000000,0.000000,1.030532e+05
50%,0.000000,-1203.369529,42.000000,1.000000,0.000000,0.000000,1.450179e+05
75%,1.000000,-291.095954,53.000000,1.000000,1.000000,0.000000,2.034351e+05
max,20.000000,401755.400475,75.000000,4.000000,4.000000,1.000000,2.265604e+06

In [ ]:
df.columns.tolist()

In [ ]:
cols = ['number_of_children',
        'days_employed',
        'client_age_in_years',
        'education_level',
        'education_level_id',
        'family_status',
        'family_status_id',
        'gender',
        'employment_type',
        'credit_repayment_status',
        'monthly_income',
        'credit_purpose'
       ]
df.set_axis(cols, axis='columns', inplace=True)

In [ ]:
df.columns.tolist()

In [ ]:
df.isnull().sum()

In [ ]:
df['days_employed'] = df['days_employed'].fillna(0)

In [ ]:
df['monthly_income'] = df['monthly_income'].fillna(0)

In [ ]:
df.isnull().sum()

In [ ]:
df.duplicated().sum()

In [ ]:
df = df.drop_duplicates().reset_index(drop=True)

In [ ]:
df.duplicated().sum()

In [ ]:
df.head(10)

In [ ]:
df.describe()

In [ ]:
df['number_of_children'] = df['number_of_children'].replace(-1, 1)

In [ ]:
df[df['number_of_children'] == -1]['number_of_children'].count()

In [ ]:
df[df['number_of_children'] == 20]['number_of_children'].count()

In [ ]:
df[df['number_of_children'] == 20].groupby('client_age_in_years')['client_age_in_years'].count()

In [ ]:
df['number_of_children'].value_counts()

In [ ]:
df['number_of_children'] = df['number_of_children'].replace(20, 2)

In [ ]:
df['number_of_children'].unique()

In [ ]:
data[(data['salary'].isnull() == True) & (data['days_employed'].isnull() == True)].info()

In [ ]:
df['days_employed'].describe()

In [ ]:
df['days_employed'] = df['days_employed'].abs()

In [ ]:
df['days_employed'].describe()

In [ ]:
max_days_of_employment = (df['client_age_in_years'].max() - 16) * 365
max_days_of_employment

In [ ]:
df[df['days_employed'] > max_days_of_employment]['days_employed'].count() / 21525 * 100

In [ ]:
df['years_employed'] = df['days_employed'] / 365

In [ ]:
df['years_employed'] = df['years_employed'].astype(int)

In [ ]:
del df['days_employed']

In [ ]:
df.head()

In [ ]:
df['client_age_in_years'].describe()

In [ ]:
df[df['client_age_in_years'] == 0]['client_age_in_years'].count()

In [ ]:
df[df['years_employed'] > 70].groupby(['client_age_in_years'])['client_age_in_years'].count()

In [ ]:
len(df['education_level'].unique())

In [ ]:
df['education_level_id'].unique()

In [ ]:
df['education_level'] = df['education_level'].str.lower()

In [ ]:
df['education_level'].unique()

In [ ]:
df['family_status'] = df['family_status'].str.lower()

In [ ]:
df['family_status'].unique()

In [ ]:
df['gender'].unique()

In [ ]:
df[df['gender'] == 'XNA'].count()

In [ ]:
df['employment_type'].unique()

In [ ]:
unique_credit_purposes = df['credit_purpose'].unique().tolist()
unique_credit_purposes

# Проверим гипотезы
Как разные цели кредита влияют на его возврат в срок?

Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

Есть ли корреляция между семейным положением и возвратом кредита в срок?

Есть ли корреляция между наличием детей и возвратом кредита в срок?

## Зависимость между уровнем дохода и возвратом кредита в срок

In [ ]:
def income_status(monthly_income):
    if monthly_income <= 88946.5:
            return "Низкий доход"
    if monthly_income <= 135716.0:
            return "Средний доход"
    if monthly_income < 195751.5:
            return "Высокий доход"
    return "Сверхвысокий доход"
df['salary_cat'] = df.apply(salary_cat, axis=1)
def salary_1(category):
    return df.groupby(category)['credit_fail'].mean().to_frame().sort_values(by='credit_fail')

In [ ]:
print(salary_1('salary_cat'))

                      ratio
salary_cat
Низкий доход        6.1828%
Сверхвысокий доход  8.0000%
Высокий доход       8.1459%
Средний доход       8.1570%

### Вывод: реже всего неуплата кредита встречается у людей с низким уровнем дохода. 

--------

## Как разные цели кредита влияют на его возврат в срок?

In [ ]:
def purpose_1(category):
    return df.groupby(category)['credit_fail'].mean().to_frame().sort_values(by='credit_fail')

In [ ]:
print(purpose_1('purpose')

                ratio
salary_cat
Автомобиль    8.0034%
Недвижимость  8.0034%
Образование   8.0034%
Свадьба       9.3590%

### Вывод: меньше всего возвращают кредиты взятые для оплаты свадьбы и покупки недвижимости.
-------

## Корреляция между семейным положением и возвратом кредита в срок

In [ ]:
def purpose_1(category):
    return df.groupby(category)['credit_fail'].mean().to_frame().sort_values(by='credit_fail')

In [ ]:
print(family_status_table_pivot)

                            ratio
salary_cat
В разводе               8.957658%
Вдовец/вдова            9.031250%
Гражданский брак       10.278146%
Женат/замужем           7.157364%
Не женат / не замужем   9.604416%

### Вывод: семейное положение влияет на возврат кредита
Самые низкие показатели по просрочке у людей состоящих в офицальных отношениях.

---------

##Корелляция между наличием детей и возвратом кредита в срок

In [ ]:
children_table_pivot = df.pivot_table(index = ['number_of_children'], 
                                columns = ['credit_repayment_status'],
                                values = 'credit_purpose', aggfunc='count')
children_table_pivot['ratio'] = children_table_pivot[1] / children_table_pivot[0] * 100

In [ ]:
print(children_table_pivot)

                 ratio
salary_cat
0            8.957658%
1           10.260458%
2            8.631250%
3            6.978146%
4            7.157364%
5                    -

### Вывод: люди с 3 и 4 детьми отдают кредиты лучше, а люди с одним ребенком хуже всего. 


---------

#Результаты исследования
Основная цель было выяснить влияет ли семейное положение и количество детей на факт погашения кредита в срок:

-заемщики с официально оформленными отношениями и имеющие 3-4 детей - самые ответственные заемщики;

-заемщики, состоящие в гражданском браке или люди без отношений, при этом имеющие 1 ребенка - наименее ответственные заемщики.